{% extends "simsapp/dashboard.html"%}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .center{
            margin-left: 3em;
        }
    </style>
</head>
<body>
    <div class="center">
        <form method="POST" action="{% url 'admin_add_student' %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" required><br><br>
            <label for="reg_no">Registration Number:</label>
            <input type="text" name="reg_no" required><br><br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</body>
</html>

{% endblock content %}